{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

<!-- Display flash messages -->
<div class="row" style="padding-top: 20px">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
    {% if category and category == 'broadcast' %}
    <div class="alert alert-block alert-info">
        <a class="close" data-dismiss="alert">×</a>
        <h4 class="alert-heading">Broadcast message:</h4>
        {{ message|replace('\n', '<br/>')|safe }}
    </div>
    {% else %}
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ message|replace('\n', '<br/>')|safe }}
    </div>
    {% endif %}
{% endfor %}
{% endif %}
{% endwith %}
</div>

<!-- Display form -->
<div class="row">
        <div class="span6 well">
            <form action="/textmessage" method="POST">
                    <legend>Fake a text message</legend>

                    <label for="phone">From phone number:</label>
                    <input type="text" class="input-xlarge" name="phone" value="6048916649"/>

                    <label for="message">Message text:</label>
                    <textarea name="message" id="message" class="span6" rows=4></textarea>
                    <button type="submit" id="send" class="btn btn-primary btn-large">Send</button>
            </form>
        </div>

</div>

{% endblock %}


