{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/main.css" type="text/css">

<style type="text/css">
#home-callout {
    height: 250px;
}

#fountain-pic {
    background-color: black;
    padding-top: 23px;
    border-radius: 6px;
}
</style>

{% endblock %}

{% block js %}
<script src="/static/js/home.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">

    <div class="span8">
        <div class="hero-unit" id="home-callout">
            <h1>Find a drinking fountain near you.</h1>
                <p>We pulled the list of water fountains from the City of Vancouver and plotted them on a map for you. We also search for tagged Flickr photos about fountains. Try it out now!</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="span4">
        <img id="fountain-pic" src="/static/img/fountain_dark_300.png" alt="Fountain"/>
    </div>

</div>


<div class="row">
        <div class="span8">
            <form action="/map" method="GET" class="well">
                    <label>Search by location name:</label>
                    <input type="text" name="query" id="query" class="span6 search-query" />
                    <button type="submit" id="search" class="btn btn-primary btn-large">Search</button>
            </form>
        </div>

        <div class="span4">
            <div class="well">
                <label>Search by GPS / Geolocation:</label>
                <button type="submit" id="geolocation" class="btn btn-large btn-info">Find My Location</button>
            </div>
        </div>

</div>

{% endblock %}

